{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg'">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hello, my Name is Vishali and right now I am completing my study in Guru Jambheshwar University of Science And Technology</p>
                        <p>I am very fond of Reading Books and Also as a python developer,also very fond of creating different projects with python. I am also very fond of Travelling and I want to travel the Whole World.</p>
                        <p>My favorite food is South Indian and I love writing blogs, so these blogs are some of my Musings.</p>
                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}